.carousel {
	display: none;
	@media (max-width: 991px) {
		display: block;
	}
	.carousel-indicators {
		bottom: -30px;
		li {
			background: $celeste;
		}
	}
	.carousel-indicators {
		.active {
			background: $naranjo;
		}
		&:hover {
			background: $naranjo;
		}
	}
	.especialidad {
		width: 50vw;
		height: 50vw;
		display: flex;
		flex-flow: column wrap;
		margin: 0 auto;
		padding: 100px 0;
		background: $celeste;
		@media (max-width: 991px) {
			width: 100%;
			height: 100%;
		}
		img {
			width: auto;
			height: 100px;
			margin-bottom: 15px;
		}
		p {
			display: block;
			margin: 0 auto;
			text-transform: uppercase;
			font-size: 20px;
			color: $blanco;
		}
		&:hover {
			background: $naranjo;
			transform: scale(1.05);
		}
	}
	.especialista {
		width: 50vw;
		display: flex;
		flex-flow: column wrap;
		margin: 0 auto;
		background: $blanco;
		border-bottom: 5px solid $celeste;
		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
		}
		h3 {
			margin: 10px 0;
			text-align: center;
			font-family: "Roboto Medium";
			font-size: 18px;
			color: $azul;
		}
		p {
			display: block;
			margin: 0 auto 10px auto;
			font-family: "Roboto Light";
			font-size: 12px;
			color: $gris-medio;
		}
	}
	.tip {
		width: 50vw;
		display: flex;
		flex-flow: column wrap;
		margin: 0 auto;
		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
		}
		a {
			width: 100%;
			img {
				width: 100%;
				transition: .3s ease-in-out;
			}
			h3 {
				height: 80px !important;
				padding: 0 30px;
			}
		}
		p {
			display: block;
			padding: 0 30px;
			text-align: center !important;
		}
	}
}