.equipo {
	h2 {
		margin-bottom: 40px;
		text-transform: uppercase;
		font-size: 28px;
		color: $azul;
	}
	p {
		margin-bottom: 40px;
		font-family: "Roboto Light";
		font-size: 18px;
		color: $gris-medio;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.doctor {
		@media (max-width: 991px) {
			margin-bottom: 70px;
		}
		img {
			width: 100%;
		}
		h3 {
			margin: 20px 0;
			font-family: "Roboto Medium";
			font-size: 24px;
			color: $azul;
		}
		p {
			margin-bottom: 0;
			font-family: "Roboto Light";
			font-size: 18px;
			color: $azul;
		}
		hr {
			width: 150px;
			margin: 20px 0;
			border-top: 1px solid $naranjo;
		}
		ul {
			li {
				margin-bottom: 10px;
				font-family: "Roboto Light";
				font-size: 18px;
				color: $gris-medio;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}