* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:focus {
	border: none;
	box-shadow: none;
	outline: none !important;
}
html,
body {
	width: 100%;
	height: 100%;
	background: $blanco;
	font-family: "Roboto Regular";
	-webkit-font-smoothing: antialiased;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	transition: .3s ease-in-out;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
	transition: .3s ease-in;
}
li {
	list-style: none;
}
main {
	margin-top: 150px;
	@media (max-width: 991px) {
		margin-top: 195px;
	}
}
section {
	padding: 50px 0;
}